@font-face {
   font-family: 'Syne';
   font-style: normal;
   font-weight: 400 800;
   font-display: swap;
   src: url(https://fonts.gstatic.com/s/syne/v22/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
   padding: 0;
   margin: 0;
}
body {
   font-family: Arial, sans-serif;
   color: var(--primaryTextColor);
   background: var(--primaryColor);
   background-repeat: no-repeat;
}

.screen {
   animation: screen .25s linear;
}

@keyframes screen {
   from {
      opacity: 0.8;
      transform: translate(0, -2px);
   }
   to {
      opacity: 1;
      transform: translate(0, 0);
   }
}

header {
   display: flex;
   align-items: center;
   gap: 2dvw;
   padding: 1dvw 8dvw;
   height: 4rem;
   border-bottom: 1px solid var(--primaryColorHot);
}

header a {
   all: unset;
   -webkit-tap-highlight-color: transparent;
}
header.main {
   justify-content: space-between;
}
header.main div {
   display: grid;
   align-items: center;
   box-sizing: border-box;
   width: 100%;
}
header.main .left {
   display: flex;
   gap: 3dvw;
   align-items: center;
}
header.main .left h1 {
   font-size: calc(var(--fontSizeLarger) - 5%);
}
header.main .right {
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: end;
   width: 100%;
   gap: 8%;
   object-fit: cover;
}

header.main .right a {
   display: flex;
   justify-content: end;
}
header.main .right a img {
   box-sizing: border-box;
   width: 2em;
}

header.main .right a .small {
   width: 86%!important;
}

div#error-message {
   display: none;
   align-items: center;
   column-gap: 1em;
   color: var(--secondaryColor);
   font-size: var(--fontSizeSmall)!important;
   padding: 1em;
   margin: 0.5em;
   border-left: 2px solid red;
   font-weight: 700;
   background: linear-gradient(to right, var(--warningColorBG), #00000000);
}
div#error-message.success {
  border-left: 2px solid #0eb01d; 
  color: var(--successColor);
  background: linear-gradient(to right, var(--successColorBG), #00000000);
}
.navigation {
   border-top: 1px solid var(--primaryColorHot);
   padding: 2dvw 8dvw 2dvw 8dvw;
   background: linear-gradient(to bottom, #00000000, var(--primaryColorLight));
   backdrop-filter: blur(6px);
   height: 4rem;
   box-sizing: border-box;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: fixed;
   width: 100%;
   bottom: 0;
   left: 0;
}
.navigation ul {
   list-style: none;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: inherit;
}
.navigation ul li {
   height: max-content;
   box-sizing: border-box;
   margin: auto 0;
}
.navigation ul li a {
   all: unset;
   -webkit-tap-highlight-color: transparent;
}
.navigation ul li a img {
   height: 100%;
   width: 2em;
   opacity: 0.7;
   transition: border-radius 4s linear,
   width 4s linear;
}

.navigation ul li.active a img {
   height: 100%;
   opacity: 1;
   background: #708ae826;
   border-radius: 100%;
   padding: 8px;
   width: 3em;
   box-sizing: border-box;
   animation: navIcons .2s linear;
}

@keyframes navIcons {
   from {
      width: 2em;
      transform: rotate(90deg);
      opacity: 0.7;
   }
   to {
      width: 3em;
      transform: rotate(0deg);
      opacity: 1;
   }
}

.post {
   font-family: 'Syne';
   padding: 4dvw 0dvw 4dvw 0dvw;
   border-bottom: 1.5px dotted var(--primaryColorHot);
}
.post .post-blip-date {
   padding: 1em 0 0 0;
   font-size: var(--fontSizeSmall);
   color: var(--primaryTextColorSec);
}
.post .post-blip-title {
   padding: .6em 0;
   font-size: calc(var(--fontSizeMedium) + 10%);
   font-family: 'Syne';
   color: var(--primaryTextColorBright);
}
.post .post-blip-description {
   padding: 0 0 1em 0;
   font-size: calc(var(--fontSizeSmall) + 5%);
   color: var(--primaryTextColor);
   line-height: 1.5;
}
.post .postAction {
   padding: 1em 0 0 0;
   display: flex;
   align-items: center;
   height: 2rem;
}
.post .postAction ul {
   list-style: none;
   display: flex;
   gap: 2vw;
}
.post .postAction ul li {
   display: flex;
   align-items: center;
}
.post .postAction ul li span {
   color: var(--primaryTextColorBright);
   font-size: var(--fontSizeMedium);
   padding: 0 .25em;
}

/* components */

.hnverModal {
   border: 0;
   outline: 0;
   border-top: 4px solid var(--themeColor);
   color: var(--modalColor);
   max-width: 86vw;
   max-height: 86vh;
   padding: 1em 2em;
   box-sizing: border-box;
   border-radius: 1em;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: var(--primaryColorDark);
}
.hnverModal::backdrop {
   background-color: #191d4833
}
.hnverModal .buttonsContainer {
   padding: 1em 0;
   display: flex;
   justify-content: end;
   gap: 1em;
}

.hnverModal #modalDescription {
   padding: 1em 0;
   opacity: 0.9;
   font-family: 'Syne';
}
.hnverModal #modalDescription.toast {
   padding: .24em 0;
   font-family: 'Syne';
   font-size: calc(var(--fontSizeNormal) - 10%);
   font-weight: 700;
   width: max-content;
   max-width: calc(86vw - 4em);
}

.hnverModal #modalTitle {
   padding: .5em 0;
   width: max-content;
   max-width: calc(86vw - 4em);
   letter-spacing: 0.5px;
   line-height: 1.4;
}
.hnverModal .buttonsContainer button {
   all: unset;
   border-radius: .25em;
   padding: 0.4em 1em;
   font-weight: 700;
}

.hnverModal .buttonsContainer button:hover {
   font-weight: 800;
   transform: scale(1.125);
}

@media only screen and (min-width: 719px) {
   .layout-horizontal {
      display: flex;
   }
   .layout-horizontal .screen {
      flex-grow: 1;
   }
   .layout-horizontal .navigation {
      position: relative;
      height: inherit;
      width: 16dvw;
      min-width: 16dvw!important;
      padding: 0 4dvw;
      display: flex;
      justify-content: center;
      background: linear-gradient(to right, #00000000, var(--primaryColorLight));
   }
   .layout-horizontal .navigation ul {
      display: block;
      width: 100%;
      height: inherit;
   }
   .layout-horizontal .navigation ul li {
      margin: 4em 0;
      width: 100%;
   }
   .layout-horizontal .navigation ul li a {
      width: 100%;
   }

   header.main .right a .small {
      width: 2em;
   }
}